*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.938);
    color: rgb(236, 236, 236);
}

.navbar {
    position: sticky;
    background-color: rgba(255, 251, 0, 1);
    top: 1px;
    box-shadow: 0 15px 15px rgb(231, 215, 71);
    z-index: 100000;
    
    
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 32px;
    max-width: none;
    margin: 0 auto;
}

.nav-logo img{
    width: 250px;
    flex-wrap: wrap;
    height: auto;
    
    
}

.nav-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.nav-link{
    color: rgb(13, 14, 14);
    text-decoration: wavy;
    font-size: 15pt;+
    font-weight: 300;
    padding: 10px 15px;
}

.nav-link:hover{
    color: rgba(0, 255, 255, 0.801);
    transform: translateY(-8px);
    box-shadow: 0 8px 16px;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 750px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;

    }
    
    .nav-logo img {
        width: 100px;
        height: auto;
        margin-bottom: 16px;
        

    }
    .nav-menu {
        flex-direction: column;
    }

}
    
