.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
}

.pokemon-card {
    background-color: rgba(244, 248, 0, 0.356);
    border-radius: 20%;
    box-shadow: 0 4px 8px rgba(rgb(85, 85, 85), rgb(190, 199, 190), rgb(126, 126, 143), alpha);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.333% - 32px);
    max-width: calc(33.333% - 32px);
    min-width: 300px;
    
}

.pokemon-card:hover{
    color: #f4d03f;
    transform: translateY(-8px);
    box-shadow: 0 8px 16px;
    transition: all 0.3s ease-in-out;
}

.pokemon-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background: linear-gradient(
    135deg, 
    rgb(169, 179, 191) 0%,   
    rgb(215, 222, 230) 45%,  
    rgb(255, 255, 255) 50%,  
    rgb(215, 222, 230) 55%, 
    rgb(169, 179, 191) 100%
);
border: 2px solid rgb(200, 200, 200);
}

.pokemon-info {
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.801);
}

.pokemon-name {
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    margin: 0;

}

.pokemon-type {
    padding: 8px 16px;
    border-radius: 20px;
    color: blueviolet;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

}

.type-fire {
    background: -moz-linear-gradient(130deg, #f4d03f 0%, rgb(255, 0, 0));
    color: rgb(255, 202, 103);
}

.type-electric {
    background: -moz-linear-gradient(130deg, #6b70b9 0%, rgb(25, 0, 255));
    color: #48b4fc;
}

.type-grass {
    background: -moz-linear-gradient(130deg, #14a127 0%, rgb(3, 231, 52));
    color: #1f5827;
}

.type-fire {
    background: -moz-linear-gradient(130deg, #f4d03f 0%, rgb(255, 0, 0));
}

.type-water {
    background: -moz-linear-gradient(130deg, #0099ff 0%, rgb(95, 223, 255));
    color: aliceblue;
}

.type-normal {
    background: -moz-linear-gradient(130deg, #d6d6d6 0%, rgb(219, 218, 218));
    color: #000000;
}

.type-ghost {
    background: -moz-linear-gradient(130deg, #b787ee 0%, rgba(125, 7, 204, 0.808));
    color: rgb(0, 0, 0);
}

.type-psychic {
    background: -moz-linear-gradient(130deg, #000000 0%, rgb(90, 81, 81));
    color: rgb(169, 171, 173);
}